body {
    background-color: lightblue;
}

div {
    height: 100%;
    width: 100%;
}

h1 {
    color: rgb(0,0,0);
    font-size: 50px;
    font-family: Palatino, 'Palatino Linotype', serif;
    text-align: center;
}

h2 {
    color: rgb(0,0,0);
    font-size: 30px;
    text-align: center;
}

.music {
    font-size: 30px;
    text-align: center;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
    border: 15px;
}

.media {
    font-size: 30px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    border: 15px;
}