body {
    background-image: url('IMG_3890.jpg');
    color: black;
    background-attachment: fixed;
}

h1 {
    color: rgb(0,0,0);
    font-size: 40px;
    font-family: Palatino, 'Palatino Linotype', serif;
    text-align: center;
    border: 2px solid black;
    position: relative;
    top:70px;
}
 
.topbar {
    background-color: white;
    text-align: right;
    width: 100%;
    position: fixed;
    right: 20px;
}
